<!DOCTYPE html>
<html lang="es">

<body>
    
    <header>
        <h1>Gestor de tareas</h1>
        <nav>
          <ul>
            <li><a routerLink="/home">Inicio</a></li>
            <li><a routerLink="/dashboard">Dashboard</a></li>
            <li><a routerLink="/tareas">Tareas</a></li>
          </ul>
        </nav>
      </header>
      <main>
        <section id="resumen">
          <h2>Vista General</h2>
          <div class="graficos">
            <div id="grafico-tareas">
              <!-- Gráfico circular para tareas -->
            </div>
            <div id="grafico-estados">
              <!-- Gráfico de barras para estados -->
            </div>
          </div>
        </section>
      </main>
      
      
</body>

</html>

