<!DOCTYPE html>
<html lang="es">

<body>


  <section id="dashboard">
    <header>
      <h2>Dashboard</h2>
    </header>
    <main>
      <section id="estadisticas">
        <h3>Estadísticas</h3>
        <div class="graficos-interactivos">
          <!-- Gráficos interactivos -->
        </div>
      </section>
      <section id="resumen-tareas">
        <h3>Resumen de Tareas</h3>
        <ul>
          <li>Tarea 1 (Vencida)</li>
          <li>Tarea 2 (Pendiente)</li>
          <li>Tarea 3 (Completada)</li>
        </ul>
      </section>
    </main>
  </section>

</body>


</html>