<!DOCTYPE html>
<html lang="es">

<body>
    <div class="formulario-tareas-container">
        <form [formGroup]="formularioTareas" (ngSubmit)="guardarTarea()">
          <div>
            <label for="nombre">Nombre</label>
            <input id="nombre" formControlName="nombre" />
            <!-- Uso correcto de la directiva -->
            <span [appMensajeValidacion]="esNombreInvalido" [mensaje]="'El nombre es obligatorio.'">
            </span>
          </div>
      
          <div>
            <label for="fechaVencimiento">Fecha de Vencimiento</label>
            <input id="fechaVencimiento" type="date" formControlName="fechaVencimiento" />
            <!-- Uso correcto de la directiva -->
            <span [appMensajeValidacion]="esFechaVencimientoInvalida" [mensaje]="'La fecha de vencimiento es obligatoria.'">
            </span>
          </div>
      
          <button type="submit" [disabled]="formularioTareas.invalid">
            Guardar Tarea
          </button>
        </form>
      </div>      
</body>

</html>