<!DOCTYPE html>

<html lang="es">

<body>


    <section id="modulo-tareas">
        <!-- Encabezado Principal -->
        <header>
            <h1>Gestion de tareas</h1>
            <nav>
                <ul>
                    <li><a routerLink="/home">Home</a></li>
                    <li><a routerLink="/dashboard">Dashboard</a></li>
                    <li><a routerLink="/tareas">Tareas</a></li>
                </ul>
            </nav>
        </header>
        <main>
            <section id="formulario-tareas">
                <h3>Agregar Nueva Tarea</h3>
                <form>
                    <label for="nombre-tarea">Nombre</label>
                    <input type="text" id="nombre-tarea" name="nombre">

                    <label for="descripcion-tarea">Descripción</label>
                    <textarea id="descripcion-tarea" name="descripcion"></textarea>

                    <label for="fecha-tarea">Fecha de Vencimiento</label>
                    <input type="date" id="fecha-tarea" name="fecha">

                    <button type="submit">Agregar</button>
                </form>
            </section>
        </main>
    </section>


</body>

</html>